<div class="my-auto">
    <h2 class="mb-5">Education</h2>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
            <h3 class="mb-0">Institute of Technology Tralee</h3>
            <div class="subheading mb-3">Bachelor of Science</div>
            <div>Computer Science - (Software Development)</div>
            <p>Achieved: 2.1</p>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">September 1997 - May 2003</span>
        </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
            <h3 class="mb-0">Christian Brothers School. The Green, Tralee</h3>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">September 1992 - May 1997</span>
        </div>
    </div>

</div>