<main>
  <fieldset>
    <p class=""><img [src]="assets/ittralee.jpg" alt="college" title="Institute of Technology Tralee" />
      Institute of Technology Tralee 1997 -2003 BSc (Hons) Software Development - 2:1 –
    </p>
    <p>
      My Final year project involved investigating the differences between Relation, Object Oriented and the Object Relational databases in both a theoretical and practical viewpoint.
    </p>
  </fieldset>
  <fieldset>
    <p class="">
      Christian Brothers School, Tralee
    </p>
    <p>
      Attended Secondary in Tralee with the Christian Brothers
    </p>
  </fieldset>

</main>


