<main>
    <div class="row">
        <div class="col-sm-3 para-image">
            <img class="logos" src="assets/images/ittralee.jpg" alt="college"
                 title="Institute of Technology Tralee"/>
        </div>
        <div class="col-sm-9">Institute of Technology Tralee 1997 -2003 BSc (Hons) Software Development - 2:1 –
            <hr/>
            My Final year project involved investigating the differences between Relation, Object Oriented and the
            Object Relational databases in both a theoretical and practical viewpoint.
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 para-image">
            <img class="logos img-responsive" src="assets/images/school.jpg" alt="school_image"/>
        </div>
        <div class="col-sm-9">Christian Brothers School, Tralee
            <hr/>
            Attended Secondary in Tralee with the Christian Brothers
        </div>
    </div>
</main>


