<div class="my-auto">
    <h4 class="mb-0">Mike
        <span class="text-primary">Roche</span>
    </h4>
    <div class="subheading mb-5">78 Castlegate Apartments, Dublin 2 · (087) 783-2900
        <a href="mailto:micheal.de.roiste@gmail.com">micheal.de.roiste@gmail.com</a>
    </div>
    <p class="mb-5">An experienced Software Engineer with over ten years’ software development experience within a Web
        development environment. With development skills in PHP, Symfony, MySQL, JavaScript ExtJS, JQuery and JQuery UI,
        I am also constantly involved in the QA process as the company is a small start-up, so along with regularly
        delivering builds to QA for testing, I also unit test and smoke test my own code first. I document all my code
        from initial specification to maintenance stages. I have also helped with live demonstrations for potential
        clients along with dealing with queries these customers have had. I have successfully led several projects to
        live status with the company, delegating tasks as well as helping the two interns who were involved with the
        projects.
    </p>
    <p class="mb-5">
        I have a sharp eye for detail and quality and have experience of working throughout the software life-cycle. I
        am a self-motivated individual who is both deadlines focused and thorough in my approach to work.
    </p>
    <p class="mb-5">
        I’m looking for a challenging job in the software development field; I really enjoy reading up on new
        technologies and really enjoy working with PHP. I’m currently working on a couple of side projects using Angular
        5 and bootstrap 4.
    </p>
    <ul class="list-inline list-social-icons mb-0">
        <li class="list-inline-item">
            <a href="https://twitter.com/Michael_RocheIE">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/michael-roche-4740042a/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://github.com/Michealderoiste">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    </ul>
</div>