<div class="my-auto">
    <h2 class="mb-5">Experience</h2>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
            <h3 class="mb-0">Senior Developer</h3>
            <div class="subheading mb-3">Travel Department</div>
            <p>
                As a senior developer it is my job to improve the in-house system and liaise with project stake holders
                in providing optimal solutions.
                Help develop a new more up to date system using Symfony3, Foundation css framework and Codeception as
                the testing environment.
                I liaise with the product manager in Poland to develop the new system to the stakeholders
                specifications.
            </p>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">June 2015 - Present</span>
        </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
            <h3 class="mb-0">Software Engineer</h3>
            <div class="subheading mb-3">Wildcard Software</div>
            <p>As a software engineer, it was my job to take specifications as provided by my boss and create the
                product / liaise with customers and delegate tasks to other developers for the projects.
                Mostly worked on my own with clients, creating specifications and creating PHP solutions based on their
                requirements.
                For Large products, we used the Agile Framework for product development. The applications were built
                mainly on PHP, JavaScript (JQuery) and MySQL. We had started to integrate Html5 into the newer projects,
                specifically for chart generation as well as image manipulation.
                Due to the nature of the company (a lot of small projects), we used test driven development with clearly
                defined test cases laid out for key processes which were handed to QA to sign off on.
                Performed code reviews on other developers codes. Communicated with Management and junior staff in
                relation to tasks outstanding and motivating team members.
            </p>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">July 2011 - June 2015</span>
        </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
            <h3 class="mb-0">Aspirico</h3>
            <p>Worked within a team involved in developing solutions for Special Needs centers throughout Ireland and
                the UK using PHP, MySQL, Javascript, CSS and Html.
                Worked throughout the software lifecycle, developing and testing software based on specifications and
                writing test scripts for new products.
                Worked on integrating Open Flash Chart with EXTjs forms using data from their PHP assessment
                application.
            </p>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">September 2006 - July 2011</span>
        </div>
    </div>
</div>