@import "~bootstrap/dist/css/bootstrap.css";
body {
    padding-top: 80px;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;;
    font-weight: 400;
}
img.logos
{
    max-width:150px;
    margin: auto;
    display:block;
}